<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsy.server.mapper.OrderStatusMapper">

    <!-- 添加 -->
    <insert id="addOrderStatus" parameterType="com.gsy.server.model.OrderStatus">
        insert into order_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="statusName != null">
                status_name,
            </if>
            <if test="statusCode != null">
                status_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="statusName != null">
                #{statusName},
            </if>
            <if test="statusCode != null">
                #{statusCode},
            </if>
        </trim>
    </insert>

    <select id="queryOrderStatus" parameterType="java.lang.String" resultType="com.gsy.server.model.OrderStatus">
        SELECT
            *
        FROM order_status
        WHERE 1=1
    </select>

    <!-- 更新 -->
    <update id="updateOrderStatusById" parameterType="com.gsy.server.model.OrderStatus">
        <if test="id != null">
            update order_status
            <set>
                <if test="statusName != null and statusName != ''">
                    status_name = #{statusName},
                </if>
                <if test="statusCode != null and statusCode != ''">
                    status_code = #{statusCode},
                </if>
            </set>
            where 1 = 1 and id = #{id}
        </if>
    </update>

    <!-- 删除 -->
    <delete id="deleteOrderStatusById" parameterType="java.lang.String">
        DELETE FROM ORDER_STATUS WHERE ID = #{id}
    </delete>

</mapper>