<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsy.server.mapper.UserMapper">
    <select id="getUserByOpenId" parameterType="String" resultType="com.gsy.server.model.WechatUser">
        SELECT
            id,avatarUrl,code,city,country,gender,language,nickName,province,openId,type
        FROM wx_user
        WHERE openId = #{openId}
    </select>

    <insert id="addWechatUser" parameterType="com.gsy.server.model.WechatUser">
        insert into wx_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="avatarUrl != null">
                avatarUrl,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="nickName != null">
                nickName,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="openId != null">
                openId,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl},
            </if>
            <if test="code != null">
                #{code},
            </if>
            <if test="city != null">
                #{city},
            </if>
            <if test="country != null">
                #{country},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="language != null">
                #{language},
            </if>
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="province != null">
                #{province},
            </if>
            <if test="openId != null">
                #{openId},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>

    <update id="editWechatUserByOpenId" parameterType="com.gsy.server.model.WechatUser">
        <if test="openId != null">
            update wx_user
            <set>
                <if test="avatarUrl != null and avatarUrl != ''">
                    avatarUrl = #{avatarUrl},
                </if>
                <if test="code != null and code != ''">
                    code = #{code},
                </if>
                <if test="city != null and code != ''">
                    city = #{city},
                </if>
                <if test="country != null and country != ''">
                    country = #{country},
                </if>
                <if test="code != null and code != ''">
                    code = #{code},
                </if>
                <if test="gender != null and gender != ''">
                    gender = #{gender},
                </if>
                <if test="language != null and language != ''">
                    language = #{language},
                </if>
                <if test="nickName != null and nickName != ''">
                    nickName = #{nickName},
                </if>
                <if test="province != null and province != ''">
                    province = #{province},
                </if>
                <if test="type != null and type != ''">
                    type = #{type},
                </if>
            </set>
            where 1 = 1 and openId = #{openId}
        </if>
    </update>
</mapper>